<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ruc.labmgr.mapper.ArrangementDeskMapper" >
  <resultMap id="BaseResultMap" type="edu.ruc.labmgr.domain.ArrangementDeskKey" >
    <id column="arrangement_id" property="arrangementId" jdbcType="INTEGER" />
    <id column="desk_id" property="deskId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="edu.ruc.labmgr.domain.ArrangementDeskKey" >
    delete from arrangement_desk
    where arrangement_id = #{arrangementId,jdbcType=INTEGER}
      and desk_id = #{deskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.ruc.labmgr.domain.ArrangementDeskKey" >
    insert into arrangement_desk (arrangement_id, desk_id)
    values (#{arrangementId,jdbcType=INTEGER}, #{deskId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.ruc.labmgr.domain.ArrangementDeskKey" >
    insert into arrangement_desk
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="arrangementId != null" >
        arrangement_id,
      </if>
      <if test="deskId != null" >
        desk_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="arrangementId != null" >
        #{arrangementId,jdbcType=INTEGER},
      </if>
      <if test="deskId != null" >
        #{deskId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>