<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ruc.labmgr.mapper.ClassIfMapper">

    <resultMap id="ClassIfResultMap" type="edu.ruc.labmgr.domain.ClassIf">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, parent_id, value
    </sql>

    <select id="getList" resultType="list" resultMap="ClassIfResultMap">
        select
        <include refid="Base_Column_List"/>
        from classif
    </select>
    <select id="selectByID" parameterType="int" resultMap="ClassIfResultMap">
        select
        <include refid="Base_Column_List"/>
        from classif
        where id = #{id}
    </select>
    <select id="selectByParentID" parameterType="int" resultMap="ClassIfResultMap">
        select
        <include refid="Base_Column_List"/>
        from classif
        where parentId = #{parentId,jdbcType=INTEGER}
    </select>


    <delete id="deleteByID" parameterType="int">
      delete from classif
      where id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByParentID" parameterType="int">
      delete from classif
      where parentid = #{parentId,jdbcType=INTEGER}
    </delete>


    <insert id="insert" parameterType="ClassIf">
      insert into classif (id, parent_id, value
      )
      values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}
      )
    </insert>

    <update id="updateByID" parameterType="ClassIf">
      update classif
      set parent_id = #{parentId,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR}
      where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>