<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ruc.labmgr.mapper.CurriculumMapper">
    <resultMap id="BaseResultMap" type="edu.ruc.labmgr.domain.Curriculum">
        <id column="c_id" property="id" jdbcType="INTEGER"/>
        <result column="c_major_id" property="majorId" jdbcType="INTEGER"/>
        <result column="c_teacher_id" property="teacherId" jdbcType="INTEGER"/>
        <result column="c_name" property="name" jdbcType="VARCHAR"/>
        <result column="c_sn" property="sn" jdbcType="VARCHAR"/>
        <result column="c_profile" property="profile" jdbcType="VARCHAR"/>
        <result column="c_grade" property="grade" jdbcType="SMALLINT"/>
        <result column="c_category" property="category" jdbcType="VARCHAR"/>
        <result column="c_type" property="type" jdbcType="VARCHAR"/>
        <result column="c_period" property="period" jdbcType="SMALLINT"/>
        <result column="c_score" property="score" jdbcType="SMALLINT"/>
        <result column="c_exam_type" property="examType" jdbcType="INTEGER"/>
        <result column="c_bibliography" property="bibliography" jdbcType="VARCHAR"/>
        <result column="c_comments" property="comments" jdbcType="VARCHAR"/>
        <result column="c_major_name" property="majorName" jdbcType="VARCHAR"/>
        <result column="c_teacher_name" property="teacherName" jdbcType="VARCHAR"/>
        <association column="c_major_id" javaType="Major" property="major" select="edu.ruc.labmgr.mapper.MajorMapper.selectByPrimaryKey" />
    </resultMap>
    <sql id="Criteria_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Criteria_Where_Clause">
        <where>
            <foreach collection="criteria.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    c.id as c_id, c.major_id as c_major_id, c.teacher_id as c_teacher_id, c.name as c_name,  c.sn as c_sn,
    c.profile as c_profile, c.grade as c_grade, c.category as c_category, c.type as c_type, 
    c.period as c_period, c.score as c_score, c.exam_type as c_exam_type, c.bibliography as c_bibliography, 
    c.comments as c_comments
  </sql>
    <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="edu.ruc.labmgr.domain.CurriculumCriteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
       u.name as c_teacher_name
        from curriculum c,user u
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from curriculum c
        where c.id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from curriculum
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByCriteria" parameterType="edu.ruc.labmgr.domain.CurriculumCriteria">
        delete from curriculum c
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="edu.ruc.labmgr.domain.Curriculum">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into curriculum (major_id, teacher_id, name,sn,
        profile, grade, category,
        type, period, score,
        exam_type, bibliography, comments
        )
        values (#{majorId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},#{sn,jdbcType=VARCHAR},
        #{profile,jdbcType=VARCHAR}, #{grade,jdbcType=SMALLINT}, #{category,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR}, #{period,jdbcType=SMALLINT}, #{score,jdbcType=SMALLINT},
        #{examType,jdbcType=INTEGER}, #{bibliography,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="edu.ruc.labmgr.domain.Curriculum">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into curriculum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="majorId != null">
                major_id,
            </if>
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sn != null">
                sn,
            </if>
            <if test="profile != null">
                profile,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="period != null">
                period,
            </if>
            <if test="score != null">
                score,
            </if>
            <if test="examType != null">
                exam_type,
            </if>
            <if test="bibliography != null">
                bibliography,
            </if>
            <if test="comments != null">
                comments,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="majorId != null">
                #{majorId,jdbcType=INTEGER},
            </if>
            <if test="teacherId != null">
                #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sn != null">
                #{sn,jdbcType=VARCHAR},
            </if>
            <if test="profile != null">
                #{profile,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=SMALLINT},
            </if>
            <if test="category != null">
                #{category,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="period != null">
                #{period,jdbcType=SMALLINT},
            </if>
            <if test="score != null">
                #{score,jdbcType=SMALLINT},
            </if>
            <if test="examType != null">
                #{examType,jdbcType=INTEGER},
            </if>
            <if test="bibliography != null">
                #{bibliography,jdbcType=VARCHAR},
            </if>
            <if test="comments != null">
                #{comments,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByCriteria" parameterType="edu.ruc.labmgr.domain.CurriculumCriteria"
            resultType="java.lang.Integer">
        select count(c.id) from curriculum c,user u
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
    </select>
    <update id="updateByCriteriaSelective" parameterType="map">
        update curriculum c
        <set>
            <if test="record.id != null">
                c.id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.majorId != null">
                c.major_id = #{record.majorId,jdbcType=INTEGER},
            </if>
            <if test="record.teacherId != null">
                c.teacher_id = #{record.teacherId,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                c.name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.sn != null">
                c.sn = #{record.sn,jdbcType=VARCHAR},
            </if>
            <if test="record.profile != null">
                c.profile = #{record.profile,jdbcType=VARCHAR},
            </if>
            <if test="record.grade != null">
                c.grade = #{record.grade,jdbcType=SMALLINT},
            </if>
            <if test="record.category != null">
                c.category = #{record.category,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null">
                c.type = #{record.type,jdbcType=VARCHAR},
            </if>
            <if test="record.period != null">
                c.period = #{record.period,jdbcType=SMALLINT},
            </if>
            <if test="record.score != null">
                c.score = #{record.score,jdbcType=SMALLINT},
            </if>
            <if test="record.examType != null">
                c.exam_type = #{record.examType,jdbcType=INTEGER},
            </if>
            <if test="record.bibliography != null">
                c.bibliography = #{record.bibliography,jdbcType=VARCHAR},
            </if>
            <if test="record.comments != null">
                c.comments = #{record.comments,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Criteria_Where_Clause"/>
        </if>
    </update>
    <update id="updateByCriteria" parameterType="map">
        update curriculum c
        set c.id = #{record.id,jdbcType=INTEGER},
        c.major_id = #{record.majorId,jdbcType=INTEGER},
        c.teacher_id = #{record.teacherId,jdbcType=INTEGER},
        c.name = #{record.name,jdbcType=VARCHAR},
        c.sn = #{record.sn,jdbcType=VARCHAR},
        c.profile = #{record.profile,jdbcType=VARCHAR},
        c.grade = #{record.grade,jdbcType=SMALLINT},
        c.category = #{record.category,jdbcType=VARCHAR},
        c.type = #{record.type,jdbcType=VARCHAR},
        c.period = #{record.period,jdbcType=SMALLINT},
        c.score = #{record.score,jdbcType=SMALLINT},
        c.exam_type = #{record.examType,jdbcType=INTEGER},
        c.bibliography = #{record.bibliography,jdbcType=VARCHAR},
        c.comments = #{record.comments,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Criteria_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="edu.ruc.labmgr.domain.Curriculum">
        update curriculum
        <set>
            <if test="majorId != null">
                major_id = #{majorId,jdbcType=INTEGER},
            </if>
            <if test="teacherId != null">
                teacher_id = #{teacherId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sn != null">
                sn = #{sn,jdbcType=VARCHAR},
            </if>
            <if test="profile != null">
                profile = #{profile,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=SMALLINT},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="period != null">
                period = #{period,jdbcType=SMALLINT},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=SMALLINT},
            </if>
            <if test="examType != null">
                exam_type = #{examType,jdbcType=INTEGER},
            </if>
            <if test="bibliography != null">
                bibliography = #{bibliography,jdbcType=VARCHAR},
            </if>
            <if test="comments != null">
                comments = #{comments,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.ruc.labmgr.domain.Curriculum">
    update curriculum
    set major_id = #{majorId,jdbcType=INTEGER},
      teacher_id = #{teacherId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
       sn = #{sn,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=SMALLINT},
      category = #{category,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      period = #{period,jdbcType=SMALLINT},
      score = #{score,jdbcType=SMALLINT},
      exam_type = #{examType,jdbcType=INTEGER},
      bibliography = #{bibliography,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select resultMap="BaseResultMap" parameterType="edu.ruc.labmgr.domain.CurriculumCriteria"
            id="selectByCriteriaWithRowbounds">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,u.name as c_teacher_name
        from curriculum c,user u
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>


    <select id="selectIdBySn" parameterType="String" resultType="java.lang.Integer">
      SELECT id FROM curriculum WHERE sn = #{sn}
  </select>
</mapper>