<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ruc.labmgr.mapper.EquipmentApplicationFormMapper">
    <resultMap id="BaseResultMap" type="edu.ruc.labmgr.domain.EquipmentApplicationFormKey">
        <id column="equipment_id" property="equipmentId" jdbcType="INTEGER"/>
        <id column="application_form_id" property="applicationFormId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Criteria_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Criteria_Where_Clause">
        <where>
            <foreach collection="criteria.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    equipment_id, application_form_id
  </sql>
    <select id="selectByCriteria" resultMap="BaseResultMap"
            parameterType="edu.ruc.labmgr.domain.EquipmentApplicationFormCriteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from equipment_application_form
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="edu.ruc.labmgr.domain.EquipmentApplicationFormKey">
    delete from equipment_application_form
    where equipment_id = #{equipmentId,jdbcType=INTEGER}
      and application_form_id = #{applicationFormId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByCriteria" parameterType="edu.ruc.labmgr.domain.EquipmentApplicationFormCriteria">
        delete from equipment_application_form
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="edu.ruc.labmgr.domain.EquipmentApplicationFormKey">
    insert into equipment_application_form (equipment_id, application_form_id)
    values (#{equipmentId,jdbcType=INTEGER}, #{applicationFormId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="edu.ruc.labmgr.domain.EquipmentApplicationFormKey">
        insert into equipment_application_form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">
                equipment_id,
            </if>
            <if test="applicationFormId != null">
                application_form_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">
                #{equipmentId,jdbcType=INTEGER},
            </if>
            <if test="applicationFormId != null">
                #{applicationFormId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByCriteria" parameterType="edu.ruc.labmgr.domain.EquipmentApplicationFormCriteria"
            resultType="java.lang.Integer">
        select count(*) from equipment_application_form
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
    </select>
    <update id="updateByCriteriaSelective" parameterType="map">
        update equipment_application_form
        <set>
            <if test="record.equipmentId != null">
                equipment_id = #{record.equipmentId,jdbcType=INTEGER},
            </if>
            <if test="record.applicationFormId != null">
                application_form_id = #{record.applicationFormId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Criteria_Where_Clause"/>
        </if>
    </update>
    <update id="updateByCriteria" parameterType="map">
        update equipment_application_form
        set equipment_id = #{record.equipmentId,jdbcType=INTEGER},
        application_form_id = #{record.applicationFormId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Criteria_Where_Clause"/>
        </if>
    </update>
    <select resultMap="BaseResultMap" parameterType="edu.ruc.labmgr.domain.EquipmentApplicationFormCriteria"
            id="selectByCriteriaWithRowbounds">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from equipment_application_form
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
</mapper>