<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ruc.labmgr.mapper.LaboratoryRoomMapper">
    <resultMap id="BaseResultMap" type="edu.ruc.labmgr.domain.LaboratoryRoomKey">
        <id column="laboratory_room_id" property="laboratoryRoomId" jdbcType="INTEGER"/>
        <id column="laboratory_id" property="laboratoryId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Criteria_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Criteria_Where_Clause">
        <where>
            <foreach collection="criteria.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    laboratory_room_id, laboratory_id
  </sql>
    <select id="selectByCriteria" resultMap="BaseResultMap"
            parameterType="edu.ruc.labmgr.domain.LaboratoryRoomCriteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from laboratory_room
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="edu.ruc.labmgr.domain.LaboratoryRoomKey">
    delete from laboratory_room
    where laboratory_room_id = #{laboratoryRoomId,jdbcType=INTEGER}
      and laboratory_id = #{laboratoryId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByCriteria" parameterType="edu.ruc.labmgr.domain.LaboratoryRoomCriteria">
        delete from laboratory_room
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="edu.ruc.labmgr.domain.LaboratoryRoomKey">
    insert into laboratory_room (laboratory_room_id, laboratory_id)
    values (#{laboratoryRoomId,jdbcType=INTEGER}, #{laboratoryId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="edu.ruc.labmgr.domain.LaboratoryRoomKey">
        insert into laboratory_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="laboratoryRoomId != null">
                laboratory_room_id,
            </if>
            <if test="laboratoryId != null">
                laboratory_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="laboratoryRoomId != null">
                #{laboratoryRoomId,jdbcType=INTEGER},
            </if>
            <if test="laboratoryId != null">
                #{laboratoryId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByCriteria" parameterType="edu.ruc.labmgr.domain.LaboratoryRoomCriteria"
            resultType="java.lang.Integer">
        select count(*) from laboratory_room
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
    </select>
    <update id="updateByCriteriaSelective" parameterType="map">
        update laboratory_room
        <set>
            <if test="record.laboratoryRoomId != null">
                laboratory_room_id = #{record.laboratoryRoomId,jdbcType=INTEGER},
            </if>
            <if test="record.laboratoryId != null">
                laboratory_id = #{record.laboratoryId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Criteria_Where_Clause"/>
        </if>
    </update>
    <update id="updateByCriteria" parameterType="map">
        update laboratory_room
        set laboratory_room_id = #{record.laboratoryRoomId,jdbcType=INTEGER},
        laboratory_id = #{record.laboratoryId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Criteria_Where_Clause"/>
        </if>
    </update>
    <select resultMap="BaseResultMap" parameterType="edu.ruc.labmgr.domain.LaboratoryRoomCriteria"
            id="selectByCriteriaWithRowbounds">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from laboratory_room
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
</mapper>