<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ruc.labmgr.mapper.RolesPrivilegeMapper" >
  <resultMap id="BaseResultMap" type="edu.ruc.labmgr.domain.RolesPrivilegeKey" >
    <id column="roles_id" property="rolesId" jdbcType="SMALLINT" />
    <id column="privilege_id" property="privilegeId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="edu.ruc.labmgr.domain.RolesPrivilegeKey" >
    delete from roles_privilege
    where roles_id = #{rolesId,jdbcType=SMALLINT}
      and privilege_id = #{privilegeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.ruc.labmgr.domain.RolesPrivilegeKey" >
    insert into roles_privilege (roles_id, privilege_id)
    values (#{rolesId,jdbcType=SMALLINT}, #{privilegeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="edu.ruc.labmgr.domain.RolesPrivilegeKey" >
    insert into roles_privilege
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolesId != null" >
        roles_id,
      </if>
      <if test="privilegeId != null" >
        privilege_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolesId != null" >
        #{rolesId,jdbcType=SMALLINT},
      </if>
      <if test="privilegeId != null" >
        #{privilegeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>