<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ruc.labmgr.mapper.StudentMapper" >
    <resultMap id="BaseResultMap" type="edu.ruc.labmgr.domain.Student" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="origin_place" property="originPlace" jdbcType="VARCHAR" />
        <result column="admission_date" property="admissionDate" jdbcType="DATE" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Criteria_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Criteria_Where_Clause" >
        <where >
            <foreach collection="criteria.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
    id, birthday, origin_place, admission_date, user_id
  </sql>
    <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="edu.ruc.labmgr.domain.StudentCriteria" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from student
        <if test="_parameter != null" >
            <include refid="Criteria_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from student
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByCriteria" parameterType="edu.ruc.labmgr.domain.StudentCriteria" >
        delete from student
        <if test="_parameter != null" >
            <include refid="Criteria_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="edu.ruc.labmgr.domain.Student" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into student (id, birthday, origin_place,
        admission_date, user_id)
        values (#{id,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{originPlace,jdbcType=VARCHAR},
        #{admissionDate,jdbcType=DATE}, #{userId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="edu.ruc.labmgr.domain.Student" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="birthday != null" >
                birthday,
            </if>
            <if test="originPlace != null" >
                origin_place,
            </if>
            <if test="admissionDate != null" >
                admission_date,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="birthday != null" >
                #{birthday,jdbcType=DATE},
            </if>
            <if test="originPlace != null" >
                #{originPlace,jdbcType=VARCHAR},
            </if>
            <if test="admissionDate != null" >
                #{admissionDate,jdbcType=DATE},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByCriteria" parameterType="edu.ruc.labmgr.domain.StudentCriteria" resultType="java.lang.Integer" >
        select count(*) from student
        <if test="_parameter != null" >
            <include refid="Criteria_Where_Clause" />
        </if>
    </select>
    <update id="updateByCriteriaSelective" parameterType="map" >
        update student
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.birthday != null" >
                birthday = #{record.birthday,jdbcType=DATE},
            </if>
            <if test="record.originPlace != null" >
                origin_place = #{record.originPlace,jdbcType=VARCHAR},
            </if>
            <if test="record.admissionDate != null" >
                admission_date = #{record.admissionDate,jdbcType=DATE},
            </if>
            <if test="record.userId != null" >
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Criteria_Where_Clause" />
        </if>
    </update>
    <update id="updateByCriteria" parameterType="map" >
        update student
        set id = #{record.id,jdbcType=INTEGER},
        birthday = #{record.birthday,jdbcType=DATE},
        origin_place = #{record.originPlace,jdbcType=VARCHAR},
        admission_date = #{record.admissionDate,jdbcType=DATE},
        user_id = #{record.userId,jdbcType=INTEGER}
        <if test="_parameter != null" >
            <include refid="Update_By_Criteria_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="edu.ruc.labmgr.domain.Student" >
        update student
        <set >
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="originPlace != null" >
                origin_place = #{originPlace,jdbcType=VARCHAR},
            </if>
            <if test="admissionDate != null" >
                admission_date = #{admissionDate,jdbcType=DATE},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="edu.ruc.labmgr.domain.Student" >
    update student
    set birthday = #{birthday,jdbcType=DATE},
      origin_place = #{originPlace,jdbcType=VARCHAR},
      admission_date = #{admissionDate,jdbcType=DATE},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select resultMap="BaseResultMap" parameterType="edu.ruc.labmgr.domain.StudentCriteria" id="selectByCriteriaWithRowbounds" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from student
        <if test="_parameter != null" >
            <include refid="Criteria_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
</mapper>