<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ruc.labmgr.mapper.TeacherRolesMapper" >
  <resultMap id="BaseResultMap" type="edu.ruc.labmgr.domain.TeacherRolesKey" >
    <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <id column="roles_id" property="rolesId" jdbcType="SMALLINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="edu.ruc.labmgr.domain.TeacherRolesKey" >
    delete from teacher_roles
    where teacher_id = #{teacherId,jdbcType=INTEGER}
      and roles_id = #{rolesId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="edu.ruc.labmgr.domain.TeacherRolesKey" >
    insert into teacher_roles (teacher_id, roles_id)
    values (#{teacherId,jdbcType=INTEGER}, #{rolesId,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.ruc.labmgr.domain.TeacherRolesKey" >
    insert into teacher_roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="rolesId != null" >
        roles_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="rolesId != null" >
        #{rolesId,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>